<!DOCTYPE html>
<html>
<meta name="csrf-token">

<head>
  <title> <%=title%></title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src="moment.js"></script>
</head>

<body>
  <div class="container">
    <img class="logo" src="/images/nodebloglogo.png">
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/Posts">Add Post</a></li>
        <li><a href="/addcategory">Add Category</a></li>
      </ul>
    </nav>
    <div class="container_center">