body {
  font: 15px Helvetica, Arial, sans-serif;
  background: #f4f4f4;
  color:#666;
}

.logo{
	text-align: center;
	margin:auto;
	display:block;
}

.container{
  float: center;
	width:950px;
	border: 1px solid #ccc;
	margin: 20px auto;
	padding:20px;
  border-top: #83cd39 3px solid;
}
.container_center
{
  float: left;
  width:948px;
	border: 1px solid #ccc;
  border-top: #83cd39 3px solid;
  display:block
}
.clr{
	clear: both;
}

ul{
	padding:0;
	margin:0;
}

h1,h2,h3,p{
	padding:5px 0;
	margin-bottom:0;
}

p{
	margin:0;
}

.post img{
	width:100%;
}

nav{
	background:#404137;
	color:#fff;
	overflow:auto;
	height:40px;
	padding:20px 0 0 10px;
	font-size: 18px;
}

nav li{
	float:left;
	list-style:none;
}

nav a{
	padding:10px;
	margin:0 10px;
	color:#fff;
	text-decoration:none;
}

nav a.current, nav a:hover{
	background: #83cd29;
	color:#000;
}

.meta{
	padding:7px;
	border:1px solid #ccc;
	background:#ccc;
  margin-bottom:10px;
  margin-top: 30px;
}

a.more{
	display:block;
	width:80px;
	background:#404137;
	color:#fff;
	padding:10px;
	margin-top:30px;
	text-decoration: none;
}

.post{
	border-bottom:1px solid #ccc;
  padding-bottom:20px;
}

.post h1 a{
	color:#666;
	text-decoration: none;
}

input, select, textarea{
	margin-bottom:15px;
}

label{
	display:inline-block;
	width:150px;
}

input[type='text'], select, textarea{
	padding:3px;
	height:20px;
	width:350px;
	border:1px #ccc solid;
}

select{
	height:28px;
}

textarea{
	height:70px;
	width:400px;
}

ul.success li{
	padding: 15px;
	margin-top:10px;
  	margin-bottom: 20px;
  	border: 1px solid transparent;
  	border-radius: 4px;
  	color: #3c763d;
  	background-color: #dff0d8;
  	border-color: #d6e9c6;
  	list-style:none;
}

.alert-danger {
  
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}
.form-group{
  margin-left: 20px;
}

.alert-info {
  color: #0c5460;
  background-color: #d1ecf1;
  border-color: #bee5eb;
}

.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}
.item-news-common {
  border-top: 1px solid #E5E5E5;
  margin-top: 15px;
  padding-top: 15px;
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}
.width_common {
  width: 100%;
  float: left;
}

.list-news-subfolder .item-news-common .thumb-art {
  width: 220px;
  margin-right: 0;
  float: right;
  margin-left: 40px;
}

.list-news-subfolder .item-news-common .title-news {
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: 400;
}

.list-news-subfolder .item-news-common .description {
  font-size: 14px;
  line-height: 140%;
}
.thumb {
  display: block;
  overflow: hidden;
  height: 0;
  position: relative;
  width: 100%;
  background: #f4f4f4;
}

.thumb-5x3 {
    padding-bottom: 60%;
}
.thumb img {
  width: 100%;
  float: left;
  object-fit: cover;
 
}
.lazy {
  position: absolute;
  top: 0;
  left: 0;
}
img {
  border: 0;
  font-size: 0;
  line-height: 0;
  max-width: 100%;
}
.item-news-common:first-of-type {
  border-top: none;
  margin-top: 0;
  padding-top: 0;
}
.title-news a{
  text-decoration: none;
}
.p a{
  text-decoration: none;
}